Div.home-page-div {
    font-size: 34px;
    width: 498px;
    height: 100px;
    text-align: center;
    color: white;
    vertical-align: middle;
    border: 1px solid black;
    float: left;
}

Div.full-home-page {
    text-align: center;
    width: 45%;
    margin-right: 0px;
}

H1.home-page-title {
    text-align: center;
    color: black;
    font-size: 72px;
    font-family: muli;
    margin-top: 10px;
    margin-bottom: 10px;
}

Div.home-page-wrapper {
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

Button.home-page-button {
    color: black;
    width: 200px;
    height: 200px;
    font-size: 26px;
    font-family: muli;
    text-align: center;

    border-radius: 48px;
    background-size: cover;
    float: left;
}

Div.button-wrapper {
    display:inline-block;

}

P.subtext {
    font-size: 35px;
    font-family: muli;
    color: black;
    text-align: center;
    width: 200px;
}

Button.button {
    color: white;
    width: 400px;
    height: 150px;
    font-size: 26px;
    font-family: muli;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    vertical-align: middle;
    border: 2px solid black;
    background-color: Transparent;
    background-repeat:no-repeat;
    float: left;
}

Div.full-home-page {
    font-family: muli;
}

Div.graph-layout {
    margin-left: 100px;
    margin-right: 100px;
    font-family: muli;
}

.vertical-menu {
  width: 300px;
  text-align: center;
  float: left;
  margin-left: 100px;
}

.vertical-menu a {
  background-color: #eee;
  border-radius: 35px;
  color: black;
  display: block;
  margin-bottom: 60px;
  padding: 12px;
  text-decoration: underline;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

Div.side-graph {
    float: left;
    width: 1000px;
    margin-left: 90px;
}

Div.wrapper {
    width: 1500px;
    margin:0 auto;
    overflow: hidden; /* add this to contain floated children */
}

html {
  scroll-behavior: smooth;
}

hr {
    height: 12px;
    background: black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    font-family: muli;
}

h1.page-header {
    font-family: muli;
    color: white;
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
}

Div.bottom-div {
    text-align:center;
    margin-bottom: 30px;
}

A.bottom-link {
    margin-right: 30px;
}